li.important::before {
    content: "!";
    margin: 0 8px;
    color: darkred;
    display: inline-block;
}

li .deadline {
    background-color: rgb(120, 153, 164);
    color: white;
    border-radius: 3px;
    padding: 2px 4px;
}
li {
    padding: 12px;
    padding-left: 40px;
    list-style:inside circle; 
}

li.done {
    background-color: rgb(226, 226, 226);
    list-style: inside circle; 
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}
li:hover {
    filter: brightness(90%);
    cursor: pointer;
}

button{
    border-radius: 50%;
    margin-left: 5px;
    transition: 0.2s;
    background-color: red;
}
button:hover{
    transform: scale(1.2);
}
div{
    display: inline-block;
}



