@if(task){
    @if (task.completed === true) {
    @if(task.important === true){
    <li class="done important">
        <del>
            {{task.title}}
            @if (task.date != null) {
            <span class="deadline">{{task.date | date:'longDate'}}</span>
            }
        </del>
        <div>
            <button (click)="delete()">X</button>
        </div>
    </li>
    }
    @else{
    <li class="done">
        <del>
            {{task.title}}
            @if (task.date != null) {
            <span class="deadline">{{task.date | date:'longDate'}}</span>
            }
        </del>
        <div>
            <button (click)="delete()">X</button>
        </div>
    </li>
    }
    }
    @else{
    <li [class.important]="task.important === true">
        {{task.title}}
        @if (task.date != null) {
        <span class="deadline">{{task.date | date:'longDate'}}</span>
        }
        <div>
            <button (click)="delete()">X</button>
        </div>
    </li>
    }
}
